# Project Car Ensurence:

if gender is male
--> age <=26 23% of market price
--> age>26  9% of market price
if gender is female
-->sports car (21%)
-->  non sports car(10%)

In [2]:
gender=input("enter the gender:")

market_price=int(input("enter the market price:"))

if gender =="M":
    age=int(input("enter the age:"))
    if age<=26:
        percentage=23/100*market_price
        print("insurence amount:",percentage)
    elif age>26:
        percentage=9/100*market_price
        print("insurence amount:",percentage)
        
elif gender == "F":
    car_type=input("enter the type of car is it sports or not:")
    if car_type == "Sports":
        percentage=21/100*market_price
        print("insurence amount:",percentage)
    else:
        percentage=10/100*market_price
        print("insurance amount:",percentage)
        
else:
    print("Go and check the Inputs")

enter the gender:M
enter the market price:10
enter the age:20
insurence amount: 2.3000000000000003

# finding the largest from the list

In [3]:
# large_num=-1
list=[1,33,55,40,44,50]

for num in list:
    if num>large_num:
        large_num=num
        
large_num

NameError: name 'large_num' is not defined

# finding minimum value from the list

In [4]:
min_num=0
list=[2,4,5,7,7,4,3333,-1,0]
for num in list:
    if num<min_num:
          min_num=num
            
min_num

-1

# sum of all elements in list

In [5]:
sum=0
list=[1,3,4,5,5,6]
for i in list:
    sum =sum+i
sum

24

In [6]:
count=0
for i in list:
    count=count+1
count

6

In [ ]:
list1=input("enter the list:")
split_list=list1.split(",")
print(split_list)
A=tuple(split_list)

In [ ]:
type(A)